@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #0a0a0a;
    color: #faf7f0;
}
nav {
    width: 100%;
    padding: 1rem 10%;
    margin: 1rem 0rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-family: "Outfit", sans-serif;
    font-size: 1.25rem;
    font-weight: 900;
    letter-spacing: 1px;
    margin-right: 2rem;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}
.nav-links li a {
    position: relative;
    font-family: "Lexend", sans-serif;
    font-size: 1.05rem;
    font-weight: 800;
    text-decoration: none;
    color: #faf7f0;
    transition: 0.3s;
}
.nav-links li a:hover {
    color: #f18930;
}
.searchBar {
    font-family: "Lexend", sans-serif;
    width: 10rem;
    padding: 0.5rem 0.5rem;
    border-radius: 10px;
    font-weight: 900;
    font-size: 1rem;
    background: #1a1a1a;
    color: #faf7f0;
    border: none;
}
.searchbar i {
    background: #faf7f0;
    color: #2a2a2a;
    padding: 0.25rem;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.searchbar i:hover {
    background: #f18930;
;
}
.container {
    position: absolute;
    width: 80%;
    left: 9.5rem;
    top: 15%;
    background: #cacaca;
    border-radius: 10px;
}
.container img {
    float: right;
    width: 100%;
    max-width: 38.5rem;
    height: 15rem;
    aspect-ratio: 16 / 9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.container h1 {
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: #2a2a2a;
    padding: 2.25rem 1rem 1rem 1rem;
    transition: 0.3s;
}
.container h1:hover {
    color: #0a0a0a;
}
.container p {
    font-family: "Outfit", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #2a2a2a;
    padding: 0rem 40rem 0rem 1rem;
}
.items {
    width: 70%;
    margin: 18rem 0rem 0rem 14rem;
}

.sec-header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    font-weight: bold;
}

.sec-header a {
    font-family: "Outfit", sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
.sec-header a:hover {
    color: #f18930;
}
.cards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.card {
    width: 100%;
    height: 20rem;
    background: #bfbfbf;
    border-radius: 10px;
}
.card img{
    width: 100%;
    height: 20rem;
    border-radius: 10px;
}
.card a {
    font-family: "Lexend", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}
.card a:hover {
    color: #f18930;
}
footer{
    background: #cacaca;
    padding-top: 0.2rem;
    margin-top: 5rem;
}
.container2{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.footer-content{
    width: 25%;
}
h3{
    font-family: "Lexend", sans-serif;
    font-size: 1.25rem;
    color: #2a2a2a;
    margin-bottom: 2rem;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}
h3:hover {
    color: #0a0a0a;
}
